#content4 {
  height: auto;
  background-color: #344A66;
  grid-area: content4;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container4 {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;  
  grid-template-areas:
  "content4-title"
  "content4-list1";
  grid-gap: 25px;
}

.content4-title {
  grid-area: content4-title;
}

.content4-title div {
  color: #EDE9E9;
  font-weight: 600;
  font-size: 25px;
  width: auto;
  padding-top: 7px;
  border-bottom: 2px solid #EDE9E9;
}

.content4-list1 {
  grid-area: content4-list1;
}

.content4-list1 .column-width {
  column-width: auto;
  column-count: 1;
  margin-top: 0;
}

.content4-list1 .column-width li {
  margin-bottom: 5px;
  list-style-type: square;
  color: #EDE9E9;
}

.content4-list1 .column-width li a {
  text-decoration: none;
  color: #EDE9E9;
}
